@import "~/src/scss/index";

.player {
  text-align: center;

  i.icon {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  .ui.progress.tiny {
    margin: 0;

    .progress {
      display: none;
    }
  }
}
