@import "~/src/scss/index";

$footerHeight: 100px;
$menuWight: 300px;

.logged-layout {
  height: 100vh;
  background-color: $background-primary;

  &__content {
    display: flex;
    height: calc(100% - $footerHeight);
  }

  &__left-menu {
    background-color: $background-dark;
    width: $menuWight;
  }

  &__children-content {
    width: calc(100% - $menuWight);
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__top-bar {
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 1;
  }

  &__footer {
    position: relative;
    background-color: $background-primary;
    height: $footerHeight;
    border-top: 1px solid $border-primary;
    box-shadow: 0px 0px 20px -5px $background-dark;
    z-index: 1;
  }
}
