@import "~/src/scss/index";

.profile {
  padding: 40px;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;

    > div {
      display: flex;
      align-items: center;

      > span {
        margin-left: 20px;
        font-size: 20px;
      }
    }

    .ui.button {
      margin: 0;
      border-radius: 100px;
      background-color: #fff;
    }
  }
}
