@import "~/src/scss/index";

.no-songs {
  text-align: center;
  margin-top: 50px;
}

.ui.table.inverted.list-songs {
  background-color: transparent;
  margin-top: 50px;

  th {
    background-color: transparent;
  }

  tr {
    &:hover {
      cursor: pointer;

      td {
        color: $primary-color;
      }
    }
  }
}
