@import "../../../scss/index.scss";

.ui.form.add-album-form {
  .fields {
    margin: 0 !important;
    .album-avatar {
      position: relative;
      background-color: $background-grey-light;
      height: 150px;
      width: 100%;
      padding: 0 !important;

      img {
        height: 100%;
        width: 100%;
      }

      .avatar {
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
      }
    }
  }
  .album-inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
