$primary-color: #1db954;
$primary-color-hover: #1ed75f;

$font-light: #fff;
$font-grey: #9e9e9e;
$font-dark: #000;

$border-primary: #282828;

$background-primary: #121212;
$background-secondary: #212121;
$background-dark: #000;
$background-light: #fff;

$danger: #b69494;
